.page .comp-wrapper {
    padding: 0;
    border: 1px solid #eee;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px, rgba(0, 0, 0, 0.04) 0px 0px 6px;
    .comp-disply-wrapper {
      padding: 15px;
      display: flex;
      align-items: center;
    }
}
.wrap-check {
  width: 100%;
}
.full-width {
  width: 100%;
}
.el-menu-item a {
    color: inherit;
    cursor: pointer;
    font-weight: 400;
}
.page .theme-default-content:not(.custom) {
  margin: unset;
  box-sizing: border-box;
  max-width: 1100px;
}
.page .wrapped-language {
  position: relative;
  border: 1px solid #ffffff;
  padding: 0 15px;
  &.hidden {
    display: none;
  }
}
.page .toggle-code {
  text-align: center;
  border-top: 1px solid #eaeefb;
  padding: 5px 0;
  cursor: pointer;
  border-bottom: 1px solid #eaeefb;
  font-size: 14px;
  &.hidden-bottom-border {
    border-bottom: none;
  }
  p {
    margin: 0
    padding: 0
  }
  p:hover {
    color: #409eff
  }
}
p 
  line-height 2

table
  border-collapse unset
  margin unset
  display: table
  overflow-x: unset

tr
  border-top unset

  &:nth-child(2n)
    background-color #FFF

th, td
  border unset
  padding unset

.mg-16
  margin-top 16px

.mg-left-15
  margin-left 15px

.mg-left-85
  margin-left 85px

.font-bold
  font-weight bold